@charset "UTF-8";
/*设置默认编码集*/

/*css 初始化 start */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "微软雅黑";
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    height: 1500px;
    font-size: 14px;
    color: #827c79;
    font-family: "微软雅黑";
    background:url(../images/dot2.main.bg.png);
}

i,s,em{
    text-decoration: none;
    font-style: normal;
}

/*清除浮动*/
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    zoom: 1;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #00a8eb;
}



/*京东色*/
.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.tr{
  text-align: right;
}

/*css 初始化 end */






